*.css
*.html
!/main.liquid.html
.sass-cache
node_modules
/out

# Custom ignores. Everything above this section, gets automatically parsed
# and used by the default template generation!
!/editor.html
cirodown.embed.min.css
cirodown.js
cirodown.local.min.css
cirodown.min.css
gitignore

# Temporary files.
tmp
tmp.*
*.tmp
*.tmp.*

# Web.
/!web/**/*.css
/!web/**/*.html
/web/build
/web/db.sqlite3
/web/.env

# next.js
/web/.next/
/web/out/
/web/.now/
/web/.now

# Webpack.
/dist
