$caption_margin_bottom: 5px;
$paragraph_margin_bottom: #c6538c;

// Light
$a-color: #0000EE;
$a-color-visited: rgb(85, 26, 139);
$background-color: white;
$code-background-color: #eeeeee;
$color: black;
$target-background-color: #FFFFCC;

// Dark
$a-color: #66AAFF;
$a-color-visited: #FF66FF;
$background-color: black;
$code-background-color: #333333;
$color: #00DD00;
$target-background-color: #442222;

@mixin hidden {
  display: none;
  // The advantage of this is that when you hover, the height can increase a bit
  // due to | separators which are very tall on certain fonts, and it is not very
  // nice to see the page move.
  //
  // However, with visibility when the screen width is small, it always takes up a newline,
  // to it is even less acceptable.
  //
  // So instead we fix the header height for now.
  //visibility: hidden;
}
@mixin visible {
  display: inline;
  //visibility: visible;
}

.cirodown {

background-color: $background-color;
color: $color;
padding-left: 15px;
padding-right: 15px;
.caption-prefix {
  font-weight: bold;
}

// Hide by default, show if last child of hovered element.
.hide-hover:last-child {
  @include hidden;
}
:hover > .hide-hover:last-child {
  @include visible;
}

// Highlight the element referred by the current hash
// so that the user can easily know which one it is.
:target {
  background-color: $target-background-color;
}

a {
  color: $a-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $a-color-visited;
  }
}

code {
  background-color: $code-background-color;
}

// Figures.
figure {
  margin-bottom: $paragraph_margin_bottom;
}

h1, h2, h3, h4, h5, h6 {
  > a:first-child {
    color: $color;
    &:visited {
      color: $color;
    }
  }
  font-size: 24px;
  margin: 20px 0 8px;
  a + span {
    @include hidden;
  }
  &:hover a + span {
    @include visible;
  }
}

// Math.
.katex { font-size: 1.5em; }
.math-container {
  align-items: center;
  margin-bottom: $paragraph_margin_bottom;
  .math-caption-container {
    margin-bottom: $caption_margin_bottom;
    > :last-child {
      @include hidden;
    }
    &:hover > :last-child {
      @include visible;
    }
  }
  .math-equation {
    align-items: center;
    display: flex;
    > :nth-child(1) {
      flex-grow: 9;
    }
    > :nth-child(2) {
      flex-grow: 1;
      text-align: right;
    }
  }
}

pre {
  background-color: $code-background-color;
  margin: 8px 0;
  padding: 8px 8px;
}

// Tables
.table-container {
  .table-caption-container {
    margin-bottom: $caption_margin_bottom;
    > :last-child {
      @include hidden;
    }
    &:hover > :last-child {
      @include visible;
    }
  }
  table {
    $table_border: 1px solid $color;
    border: $table_border;
    border-collapse: collapse;
    th, td {
      border: $table_border;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  margin-bottom: $paragraph_margin_bottom;
}

// Table of contents.
.toc-container {
  div a + span {
    @include hidden;
  }
  div:hover a + span {
    @include visible;
  }
  ul {
    border-left: 1px solid black;
    list-style-type: none;
  }
  > ul {
    border-left: 0px solid black;
    padding-left: 0px;
  }
}

}
