@import 'ourbigbook/ourbigbook.common.scss';

$navbar-background-color: #222222;
body {
background-color: $background-color;
font-family: $font-family;

header, footer {
  background-color: $navbar-background-color;
}
header {
  align-items: center;
  display: flex;
  /* https://stackoverflow.com/questions/5078239/how-do-i-remove-the-space-between-inline-block-elements */
  font-size: 0;
  margin-bottom: 0.8 * $header-font-size;
  overflow-x: hidden;
  white-space: nowrap;
  a {
    /* Make buttons occupy the full height of the header bar.
     * https://stackoverflow.com/questions/28254332/how-to-vertically-center-the-contents-of-a-flexbox-item/28254903#28254903 */
    align-items: center;
    align-self: stretch;
    display: flex;

    color: $h-color;
    font-size: 32px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    &:first-child {
      padding-left: $toplevel-horizontal-padding-left;
    }
    padding-right: 10px;
    text-decoration: none;
    &:visited {
      color: $h-color;
    }
    &:hover {
      color: $navbar-background-color;
      background-color: $h-color;
    }
    &.font-awesome-container {
      font-weight: normal;
      padding-left: 5px;
      padding-right: 5px;
    }
    height: 1.2em;
    img {
      height: 100%;
      margin-right: 0.1em;
    }
  }
}
footer {
  word-wrap: break-word;
  font-size: 1.2em;
  color: $h-color;
  a {
    color: $a-color;
    //text-decoration: none;
    &:visited {
      color: $a-color;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  padding: 10px $toplevel-horizontal-padding-right 10px $toplevel-horizontal-padding-left;
  div + div {
    margin-top: 5px;
  }
}
div.giscus {
  margin-top: 1em;
}
}
