@import 'ourbigbook/ourbigbook.common.scss';

$color: black;
$header-background-color: #AA0;
body {
background-color: $color;
font-family: $font-family;
padding-top: $header-font-size;

header, footer {
  background-color: $header-background-color;
}
header {
  align-items: center;
  display: flex;
  /* https://stackoverflow.com/questions/5078239/how-do-i-remove-the-space-between-inline-block-elements */
  font-size: 0;
  overflow-x: hidden;
  white-space: nowrap;
  a {
    /* Make buttons occupy the full height of the header bar.
     * https://stackoverflow.com/questions/28254332/how-to-vertically-center-the-contents-of-a-flexbox-item/28254903#28254903 */
    align-items: center;
    align-self: stretch;
    display: flex;

    color: $color;
    font-size: 32px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    &:first-child {
      padding-left: $toplevel-horizontal-padding-left;
    }
    padding-right: 10px;
    text-decoration: none;
    &:visited {
      color: $color;
    }
    &:hover {
      color: $header-background-color;
      background-color: $color;
    }
    &.font-awesome-container {
      font-size: 28px;
      font-weight: normal;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
footer {
  word-wrap: break-word;
  a {
    $color: #00C;
    color: $color;
    text-decoration: none;
    &:visited {
      color: $color;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  padding: 10px $toplevel-horizontal-padding-right 10px $toplevel-horizontal-padding-left;
  div + div {
    margin-top: 5px;
  }
}
}
