@import 'katex/dist/katex.css';
@import 'cirodown/cirodown.scss';

$enable-flex:               true;
$enable-grid-classes:       true;

// CONDUIT STYLES //
$font-family-logo: 'Titillium Web', sans-serif;
.logo-font {
  font-family: $font-family-logo;
}

// Bootstrap overrides
$headings-font-family:   'Merriweather Sans', sans-serif;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$brand-primary: #5CB85C;
$brand-danger:  #B85C5C;

$color: black;
$header-background-color: #AA0;
$toplevel-padding: 20px;
$a-color: #88CCFF;
$a-color-visited: #FFAAFF;
$background-color: black;
$code-background-color: #333333;
$color: #00FF00;
$color-discreet: #00BB00;
$target-background-color: #442222;

// this allows us to have the flush footer that extends with viewport
html {
body {

padding: 0;
margin: 0;
position: relative;
min-height: 100vh;
padding-bottom: 100px;
background-color: $background-color;
color: $color;

a {
  color: $a-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header, footer {
  background-color: $header-background-color;
}
header {
  $color: black;
  $header-height: 40px;
  /* https://stackoverflow.com/questions/5078239/how-do-i-remove-the-space-between-inline-block-elements */
  font-size: 0;
  align-items: center;
  display: flex;
  height: $header-height;
  a {
    /* Make buttons occupy the full height of the header bar.
     * https://stackoverflow.com/questions/28254332/how-to-vertically-center-the-contents-of-a-flexbox-item/28254903#28254903 */
    align-items: center;
    align-self: stretch;
    display: flex;

    color: $color;
    font-size: 32px;
    font-weight: bold;
    height: $header-height;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    &:visited {
      color: $color;
    }
    &:hover {
      color: $header-background-color;
      background-color: $color;
    }
    &.font-awesome-container {
      font-size: 28px;
      font-weight: normal;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  div {
    display: flex;
    margin-left: auto;
    img {
      height: $header-height;
    }
  }
}
footer {
  a {
    $color: #00C;
    color: $color;
    text-decoration: none;
    &:visited {
      color: $color;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  padding: 10px $toplevel-padding;
  div + div {
    margin-top: 5px;
  }
}

// Set the navbar's logo to the conduit logo font & large size
.navbar-brand {
  font-family: $font-family-logo;
  font-size:1.5rem !important;
  padding-top:0rem !important;
  margin-right:2rem !important;
  color: $brand-primary !important;
  // margin-bottom:40px;
}
// set a smooth transition for nav-link hover effects
.nav-link:hover {
  transition: 0.1s all;
}
$navbar-padding-x: 0rem !important;

// create style for nav-link pills that do an outline instead of block
.nav-pills.outline-active {
  .nav-link {
    border-radius:0px;
    border:none;
    border-bottom:2px solid transparent;
    color:#aaa;
    &:hover {
      color:#555;
    }

    &.active {
      background: #fff !important;
      border-bottom:2px solid $brand-primary !important;
      color: $brand-primary !important;
    }
  }
}

// general error handling style
.error-messages {
  color: $brand-danger !important;
  font-weight:bold;
}

// Auto offset from top for pages
.container.page {
  margin-top:1.5rem;
}


// Link that doesn't modify color/style of text
.preview-link {
  color: inherit !important;

  &:hover {
    text-decoration: inherit !important;
  }
}


// Generic author information/date container
.post-meta {
  display:block;
  position:relative;
  font-weight: 300;

  img {
    display:inline-block;
    vertical-align: middle;
    height:32px;
    width:32px;
    border-radius:30px;
  }

  .info {
    margin:0 1.5rem 0 0.3rem;
    display:inline-block;
    vertical-align: middle;
    line-height: 1rem;

    .author {
      display:block;
      font-weight: 500 !important;
    }
    .date {
      color:#bbb;
      font-size:0.8rem;
      display:block;
    }

  }
}


// Preview links inside post previews
.post-preview {
  border-top:1px solid rgba(0,0,0,.1);
  padding:1.5rem 0;

  .post-meta {
    margin:0 0 1rem 0;
  }
  .preview-link {
    h1 {
      font-weight:700 !important;
      font-size:2rem !important;
    }
    p {
      font-family: 'Source Serif Pro', serif;
      margin-bottom:0;
    }
    // "Read more" span
    span {
      font-size:0.8rem;
      font-weight:300;
      color:#bbb;
    }
  }
}


// Counter for buttons
.btn .counter {
  font-size:0.8rem !important;
}
}
}


// Import all of our SCSS files
@import 'post.scss';
@import 'profile.scss';
@import 'editor.scss';
@import 'auth.scss';
@import 'settings.scss';
