.post-page {

  .banner {
    padding:3rem 0 2rem 0;

    h1 {
      font-size:2.8rem;
    }



    // Set follow/favorite buttons to lower opacity until hovered
    .btn {
      opacity: 0.8;
      &:hover {
        transition: 0.1s all;
        opacity: 1;
      }
    }

    // Post page style overrides for metadata
    .post-meta {
      margin:2rem 0 0 0;

      .author {
        color:#fff;
      }
    }

  }

  // General styles for post content
  .post-content {
    p {
      font-family: 'Source Serif Pro', serif;
      font-size: 1.2rem;
      line-height:1.8rem;
      margin-bottom:2rem;
    }

    h1,h2,h3,h4,h5,h6 {
      font-weight:700 !important;
      margin:1.6rem 0 1rem 0;
    }

  }


  .post-actions {
    text-align: center;
    margin:1.5rem 0 3rem 0;

    .post-meta .info {
      text-align: left;
    }
  }

  .comment-form {
    .card-block {
      padding:0;

      textarea {
        border: 0px;
        padding: 1.25rem;
      }
    }

    .card-footer {
      .btn {
        font-weight: 700;
        float:right;
      }

      .comment-author-img {
        height:30px;
        width:30px;
      }
    }
  }

  .card {
    .card-footer {
      font-size:0.8rem;
      font-weight: 300;
    }
    .comment-author-img {
      display: inline-block;
      vertical-align: middle;
      height:20px;
      width:20px;
      border-radius:30px;
    }
    .comment-author {
      display: inline-block;
      vertical-align: middle;
    }
    .date-posted {
      display: inline-block;
      vertical-align: middle;
      margin-left:5px;
      color:#bbb;
    }

    .mod-options {
      float:right;
      color:#333;
      font-size:1rem;

      i {
        margin-left:5px;
        opacity:0.6;
        cursor:pointer;

        &:hover {
          opacity:1;
        }
      }
    }

  }

}
