.profile-page {
  .user-info {
    text-align: center;
    background:#f3f3f3;
    padding:2rem 0 1rem 0;

    .user-img {
      width:100px;
      height:100px;
      border-radius:100px;
      margin-bottom:1rem;
    }
    h4 {
      font-weight:700;
    }
    p {
      margin:0 auto 0.5rem auto;
      color:#aaa;
      max-width:450px;
      font-weight: 300;
    }
    .action-btn {
      float:right;
      color:#999;
      border:1px solid #999;
    }
  }

  .posts-toggle {
    margin:1.5rem 0 -1px 0;
  }
}
