// Navigation styles. Cirodown overrides these.
// Maybe someday we should migrate to emotions.js in styles.js.
// but lazy now.
$color: black;
$nav-background-color: #AA0;
$toplevel-padding: 20px;
body {
margin: 0;
background-color: $color;

/* Scrollbar behaviour.
 * We would like to get rid of the X scrollbar and keep only the Y one.
 * The below would remove both on Chromium 81 and neither on Firefox 75.
 * So for now we just keep both.
 * https://stackoverflow.com/questions/3296644/hiding-the-scroll-bar-on-an-html-page
 * https://stackoverflow.com/questions/20997183/how-to-hide-scrollbar-in-firefox
 * https://stackoverflow.com/questions/20713769/horizontal-only-webkit-scrollbar-style-css
 */
/*
overflow-x: visible;
scrollbar-width: none;
&::-webkit-scrollbar {
    display: none;
}
*/

nav, footer {
  background-color: $nav-background-color;
  color: $color;
  a {
    color: $color;
  }
}
nav {
  /* https://stackoverflow.com/questions/5078239/how-do-i-remove-the-space-between-inline-block-elements */
  font-size: 0;
  a {
    font-size: 24px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    &:first-child {
      padding-left: $toplevel-padding;
    }
    padding-right: 10px;
    text-decoration: none;
    &:visited {
      color: $color;
    }
    &:hover {
      color: $nav-background-color;
      background-color: $color;
    }
    &.font-awesome-container {
      font-weight: normal;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
footer {
  a {
    $color: #00C;
    color: $color;
    text-decoration: none;
    &:visited {
      color: $color;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  padding: 10px $toplevel-padding;
  div + div {
    margin-top: 5px;
  }
}
color: green;
a {
  color: blue;
}
}
